﻿@for $i from 0 to 101 {
    .h-vh-#{$i} {
        height: #{$i}vh !important;
    }
}

@for $i from 0 to 100 {
    .min-h-vh-#{$i} {
        min-height: #{$i}vh !important;
    }
}

@for $i from 0 to 100 {
    .max-h-vh-#{$i} {
        max-height: #{$i}vh !important;
    }
}
