﻿@model IngredientFormModel
@{ 
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Edit] @_t[I18N.Ingredient]</h5>
        </div>
        <form asp-action="Update" asp-controller="Ingredient" asp-route-friendly_url="@Model.FriendlyUrl" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <div class="modal-body text">
                <div class="form-group">
                    <label>@_t[I18N.Name]</label>
                    <input class="form-control" asp-for="@Model.Name" maxlength="255" oninvalid="this.setCustomValidity('@(_t[I18N.ValidationMessages.This_field_is_required])')" />
                    <span asp-validation-for="@Model.Name"></span>
                </div>
                <div class="form-group">
                    <label>@_t[I18N.Country]</label>
                    @Html.DropDownListFor(model => model.CountryId,
                            Model.Countries.Select(x => new SelectListItem { Value = x.ID.ToString(), Text = x.Name, Selected = Model.CountryId == x.ID }),
                    _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                    <span asp-validation-for="@Model.CountryId"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>