﻿@model IngredientViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.Ingredient]} - {Model.Ingredient.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between ">
                    <h5>@_t[I18N.Ingredient]</h5>
                    <div>
                        <button class="btn btn-sm btn-primary edit mr-1" data-slug="@Model.Ingredient.FriendlyUrl">@_t[I18N.Edit]</button>
                        <button class="btn btn-sm btn-danger delete" data-slug="@Model.Ingredient.FriendlyUrl"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="mb-2 text">
                    <dt>@_t[I18N.Name]</dt>
                    <dd>@Model.Ingredient.Name</dd>
                </dl>
                <dl class="mb-2 text">
                    <dt>@_t[I18N.Country]</dt>
                    <dd>@Model.Ingredient.Country.Name</dd>
                </dl>
            </div>
        </div>
    </div>
    @*<div class="col-12 col-xs-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5>Receitas</h5>
            </div>
            <div class="card-body">
                <div id="recipes-table">
                </div>
            </div>
        </div>
    </div>*@
    <div id="modal" class="modal fade"></div>
</div>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
}