﻿@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="d-flex justify-content-center align-content-center h-100">
    <p class="text">@_t[I18N.No_records_were_found]</p>
</div>