﻿<link id="theme" href="~/css/default.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />

@* Font-awesome *@
<link href="~/Libraries/font-awesome/all.css" rel="stylesheet" />

@* Dropify *@
<link href="~/Libraries/Dropify/css/dropify.min.css" rel="stylesheet" />

@* Noty *@
<script src="~/Libraries/Noty/noty.js"></script>
<link href="~/Libraries/Noty/noty.css" rel="stylesheet" />
<link href="~/Libraries/Noty/themes/bootstrap-v4.css" rel="stylesheet" />

@* Sweet alert *@
<link href="~/Libraries/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Libraries/sweetalert2/sweetalert2.all.min.js"></script>

@* Select2 *@
<link href="~/Libraries/select2/css/select2.css" rel="stylesheet" />

<style>
.select2-selection__clear {
    color: black;
}
</style>
