﻿@using System.Linq;
@using System.Globalization;
@using Microsoft.Extensions.Caching.Memory;
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top px-4" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" asp-action="Index" asp-controller="Home">
        <span><i class="fa fa-home"></i></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" asp-action="Index" asp-controller="Recipe">@_t[I18N.Recipes]</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">@_t[I18N.Management]</a>
                <div class="dropdown-menu">
                    <a id="author_link" class="dropdown-item" asp-action="Index" asp-controller="Author">@_t[I18N.Authors]</a>
                    <a id="category_link" class="dropdown-item" asp-action="Index" asp-controller="Category">@_t[I18N.Categories]</a>
                    <a id="region_link" class="dropdown-item" asp-action="Index" asp-controller="Region">@_t[I18N.Regions]</a>
                    <a id="country_link" class="dropdown-item" asp-action="Index" asp-controller="Country">@_t[I18N.Countries]</a>
                    <a id="source_link" class="dropdown-item" asp-action="Index" asp-controller="Source">@_t[I18N.Sources]</a>
                    <a id="course_link" class="dropdown-item" asp-action="Index" asp-controller="Course">@_t[I18N.Courses]</a>
                    <a id="ingredient_link" class="dropdown-item" asp-action="Index" asp-controller="Ingredient">@_t[I18N.Ingredients]</a>
                </div>
            </li>
            @if (User.Claims.Any(u => u.Type == System.Security.Claims.ClaimTypes.Role && u.Value == ModelsLibrary.Constants.AppConstants.Roles.Admin))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Admin</a>
                    <div class="dropdown-menu">
                        <a id="author_link" class="dropdown-item" asp-action="Index" asp-controller="Culture">@_t[I18N.Localization]</a>
                        <a class="dropdown-item" asp-action="Index" asp-controller="Import">@_t[I18N.Import]</a>
                        <a class="dropdown-item" asp-action="ExportForm" asp-controller="Export">@_t[I18N.Export]</a>
                    </div>
                </li>                
            }
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">@_t[I18N.Cultures]</a>
                <div class="dropdown-menu">
                    <form asp-action="SetCulture" asp-controller="Culture">
                        @Html.AntiForgeryToken()
                        @Html.DropDownList(
                        "culture",
                        (await RecipesApp.Services.CacheManagementService.CulturesAsync()).Select(cul =>
                        new SelectListItem {
                        Value = cul.Name,
                        Text = cul.Name,
                        Selected = Thread.CurrentThread.CurrentCulture.IetfLanguageTag == cul.Name
                        }),
                        new { @class="dropdown-item", onchange="this.form.submit()" })
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <button class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    @_t[I18N.Themes]
                </button>
            </li>
        </ul>

        <div class="ml-auto navbar-nav">
            <form asp-action="Logout" asp-controller="Auth" method="post">
                @Html.AntiForgeryToken()
                <button class="btn btn-link text-white">Logout</button>
            </form>
        </div>

    </div>
</nav>