﻿@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">@_t[I18N.Themes]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group mb-3">
            <div>
                <button data-theme="light" id="theme-changer-light" class="btn btn-primary theme_changer">
                    <i class="fa fa-sun text-white"></i>
                </button>
                <button data-theme="dark" id="theme-changer-dark" class="btn btn-primary theme_changer">
                    <i class="fa fa-moon text-white"></i>
                </button>
            </div>
            <partial name="~/Views/Partials/ThemeChanger.cshtml" />
        </div>
    </div>
</div>