﻿<script src="~/Libraries/jquery/jquery.min.js"></script>
<script src="~/colorthemes/js/themechange.js"></script>
<script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/Libraries/Dropify/js/dropify.min.js"></script>
<script src="~/Libraries/select2/js/select2.full.min.js"></script>
<script src="~/Libraries/select2/js/i18n/@(System.Threading.Thread.CurrentThread.CurrentCulture.Parent.Name).js"></script>