﻿<select id="theme_list" class="form-control">
    <option value="default">Basic</option>
    <option value="darkly">Darkly</option>
    <option value="sandstone">Sandstone</option>
    <option value="minty">Minty</option>
</select>