﻿@model SourceFormModel
@{ 
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Delete] @_t[I18N.Source]</h5>
        </div>
        <div class="modal-body text">
            <dl>
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Name</dd>
            </dl>
        </div>
        <form asp-action="Destroy" asp-controller="Source" asp-route-friendly_url="@Model.FriendlyUrl" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.FriendlyUrl)
            <div class="modal-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-danger" form="deleteform">@_t[I18N.Delete]</button>
                </div>
            </div>
        </form>
    </div>
</div>