﻿@model SourceViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = $"{_t[I18N.Source]} - {Model.Source.Name}";

}
<div class="row">
    <div class="col-sm-12 col-12 mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-end">
                <button class="btn btn-sm btn-primary edit mr-1" data-slug="@Model.Source.FriendlyUrl">@_t[I18N.Edit]</button>
                <button class="btn btn-sm btn-danger delete" data-slug="@Model.Source.FriendlyUrl"><i class="fa fa-trash"></i></button>
            </div>
            <div class="card-body">
                <dl class="mb-2 text">
                    <dt>@_t[I18N.Name]</dt>
                    <dd>@Model.Source.Name</dd>
                </dl>
            </div>
        </div>
    </div>
    @*<div class="col-12 col-xs-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5>Receitas</h5>
            </div>
            <div class="card-body">
                <div id="recipes-table">
                </div>
            </div>
        </div>
    </div>*@
    <div class="modal fade" id="modal"></div>
</div>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
}