﻿@model RegionFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.New] @_t[I18N.Region]</h5>
        </div>
        <form asp-action="Store" asp-controller="Region" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model=>model.Name, _t[I18N.Name], new { @class="text" })
                    <input asp-for="@Model.Name" class="form-control" required maxlength="255" oninvalid="this.setCustomValidity('@(_t[I18N.ValidationMessages.This_field_is_required])')" />
                    <span asp-validation-for="@Model.Name"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>