﻿@model RegionFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Delete] @_t[I18N.Region]</h5>
        </div>
        <div class="modal-body">
            <dl class="text">
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Name</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <form asp-action="Destroy" asp-controller="Region" id="deleteform" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.FriendlyUrl)
                <div class="d-flex align-content-between justify-content-between w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-danger" form="deleteform">@_t[I18N.Save]</button>
                </div>
            </form>
        </div>
    </div>
</div>