﻿@model RegionViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.Region]} - {Model.Region.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="p-4">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <button class="btn btn-sm btn-primary edit mr-1" data-slug="@Model.Region.FriendlyUrl">@_t[I18N.Edit]</button>
            <button class="btn btn-sm btn-danger delete" data-slug="@Model.Region.FriendlyUrl"><i class="fa fa-trash"></i></button>
        </div>
        <div class="card-body">
            <h5>Informações</h5>
            <dl class="text mb-2">
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Region.Name</dd>
            </dl>
        </div>
    </div>
    <div id="countries" class="card mt-5">
        <div class="card-body">
            <h5>@_t[I18N.Country]</h5>
            @if (Model.Countries.Any())
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>@_t[I18N.Name]</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Model.Countries)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Show" asp-controller="Country" asp-route-friendly_url="@country.FriendlyUrl">@country.Name</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        @if (Model.TotalPages > 1)
                        {
                            <tr>
                                <td>
                                    <nav>
                                        <ul class="pagination">
                                            @for (int i = 1; i <= Model.Count; i++)
                                            {
                                                var data = new Dictionary<string, string>{
                                                    {"friendly_url",Model.Region.FriendlyUrl },
                                                    {"p",i.ToString() },
                                                    {"ps",Model.PageSize.ToString() }
                                                };
                                                <li class="page-item @(i==Model.CurrentPage ? "active":"")">
                                                    <a class="page-link" asp-action="Show" asp-controller="Category"
                                                       asp-all-route-data="@data">@i</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </td>
                            </tr>

                        }
                    </tfoot>
                </table>
            }
            else
            {
                <partial name="~/Views/Partials/_Empty.cshtml" />
            }
        </div>
    </div>
    <div class="modal fade" id="modal"></div>
</section>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
}