﻿@model HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = "Home";
}

<div class="row">
    @if (Model.FavoriteRecipes.Any())
    {
        foreach (var recipe in Model.FavoriteRecipes)
        {
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="/img/recipe/@recipe.MainImage.Image" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text text">@recipe.Category.Name</p>
                        <a asp-action="Show" asp-controller="Recipe" asp-route-friendly_url="@recipe.FriendlyUrl" class="btn btn-primary">@_t[I18N.View_recipe]</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-sm">
            <h5>@_t[I18N.No_recipes_marked_as_favorite]</h5>
        </div>
    }
</div>
@section Scripts{

}
