﻿
@if (!string.IsNullOrWhiteSpace(ViewData["Success"]?.ToString()))
{
    <script>
    new Noty({
        text: '@ViewData["Success"].ToString()',
        type: 'success',
        animation: {
            open: 'animated noty_effects_open',
            close: 'animated noty_effects_close'
        },
        theme: "bootstrap-v4",
    }).show();
    </script>
}
@if (!string.IsNullOrWhiteSpace(ViewData["Error"]?.ToString()))
{
    <script>
    new Noty({
        text: '@ViewData["Error"].ToString()',
        type: 'error',
        animation: {
            open: 'animated noty_effects_open',
            close: 'animated noty_effects_close'
        },
        theme: "bootstrap-v4",
    }).show();
    </script>
}