﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something Went Wrong</title>
    <partial name="~/Views/Partials/_Head.cshtml" />
</head>
<body>
    <div class="min-vh-100 d-flex justify-content-center">
        <h1 class="text-primary font-weight-bold">Something went wrong</h1>
    </div>
</body>
</html>
