﻿
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@section Head{
    <link href="/css/unauthorized.css" rel="stylesheet" />
}
<div class="page">
    <div class="content">
        <h1>404 - Não Encontrado</h1>
        <h4>O que procura não parece existir</h4>
        <p>Não conseguimos encontrar o que procura, é possivel que se tenha enganado na pesquisa</p>
        <a asp-action="Index" asp-controller="Home">Ínicio</a>
    </div>
</div>

