﻿@model CultureFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="">@_t[I18N.New] @_t[I18N.Language]</h5>
        </div>
        <form asp-action="Store" asp-controller="Culture" method="POST">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-body">
                <div class="form-group position-relative">
                    @Html.LabelFor(model => model.Name, _t[I18N.Name], new { @class = "text required mb-2" })
                    <input asp-for="@Model.Name" class="form-control" required />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex align-content-between justify-content-between w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>