﻿@model CultureFormModel

@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="">@_t[I18N.Delete] @_t[I18N.Language]</h5>
        </div>
        <form asp-action="Destroy" asp-controller="Culture" method="POST">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Name)
            <div class="modal-body">
                <input class="form-control" name="cul" value="@Model.Name" readonly />
            </div>
            <div class="modal-footer">
                <div class="d-flex align-content-between justify-content-between w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-danger">@_t[I18N.Delete]</button>
                </div>
            </div>
        </form>
    </div>
</div>