﻿@model LocalizationViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = _t[I18N.Localization];
}

<section class="p-4">
    <div class="row">
        <div class="col-xl-12 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5>@_t[I18N.Manual_Refresh]</h5>
                </div>
                <div class="card-body">
                    <form asp-action="RefreshCultureData" asp-controller="Culture">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <button class="btn btn-primary">@_t[I18N.Refresh]</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5>@_t[I18N.Languages]</h5>
                        <button class="add_culture btn btn-sm btn-primary"><i class="fa fa-plus-circle mr-1"></i>@_t[I18N.New]</button>
                    </div>
                    <table class="table table-hover">
                        @foreach (var culture in Model.Cultures)
                        {
                            <tr>
                                <td>@culture.Name - @culture.DisplayName</td>
                                <td class="d-flex justify-content-end">
                                    <a class="btn btn-primary mr-2"
                                       asp-action="ManageTranslations"
                                       asp-controller="Localization"
                                       asp-route-culture="@culture.Name">@_t[I18N.Manage]</a>
                                    <button class="btn btn-sm btn-danger delete_culture" data-culture="@culture.Name"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5>@_t[I18N.Translation_keys]</h5>
                        <button class="add_key btn btn-sm btn-primary"><i class="fa fa-plus-circle mr-1"></i>@_t[I18N.New]</button>
                    </div>
                    <div>
                        <table class="table table-hover">
                            @foreach (var key in _t.Keys)
                            {
                                <tr>
                                    <td>@key | @_t[key]</td>
                                    @*<td class="d-flex justify-content-end">
                                        <button class="btn btn-sm btn-danger delete_key" data-key="@key"><i class="fa fa-trash"></i></button>
                                    </td>*@
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" role="dialog"></div>
</section>
@section Scripts{
    <script src="~/js/ui-utilities/form-events.js"></script>
    <script src="~/js/ui-utilities/modal.js"></script>
    <script>
        document.getElementsByClassName('add_culture')[0].addEventListener('click', async function () {
            let modal = document.getElementById('modal');
            let url = `${location.origin}/cultures/create`
            await ShowModal(url, modal)
        })
        document.getElementsByClassName('add_key')[0].addEventListener('click', async function () {
            let modal = document.getElementById('modal');
            let url = `${location.origin}/localization/translations/create`
            await ShowModal(url, modal)
        })
        document.getElementsByClassName('delete_culture')[0].addEventListener('click', async function () {
            let modal = document.getElementById('modal');
            let culture = this.getAttribute('data-culture');
            let url = `${location.origin}/cultures/delete/${culture}`
            await ShowModal(url, modal)
        })
    </script>
}

