﻿@model AuthorFormModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Delete] @_t[I18N.Author]</h5>
        </div>
        <div class="modal-body">
            <dl class="mx-2 text">
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Name</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <form asp-action="Destroy" asp-controller="Author" id="deleteform" method="post" class="w-100">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.FriendlyUrl)
                <div class="d-flex w-100 justify-content-between align-content-center">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-danger" form="deleteform">@_t[I18N.Delete]</button>
                </div>
            </form>
        </div>
    </div>
</div>