﻿@model AuthorFormModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Edit] @_t[I18N.Author]</h5>
        </div>
        <form asp-action="Update" asp-controller="Author" asp-route-slug="@Model.FriendlyUrl" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, _t[I18N.Name], new { @class = "text" })
                    <input class="form-control" asp-for="@Model.Name" required maxlength="255" oninvalid="this.setCustomValidity('@(_t[I18N.ValidationMessages.This_field_is_required])')" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between align-content-center w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>