﻿@model ImportModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = _t[I18N.Import];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-4">
    <div class="row">
        <div class="mx-auto col-md-6">
            <h5>@_t[I18N.Import]</h5>
            <form asp-controller="Import" asp-action="Store" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-end">
                        <a class="btn btn-sm btn-primary" asp-action="Template" asp-controller="Import"><i class="fa fa-download mr-1"></i>@_t[I18N.Download_template]</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <label class="mb-2" for="@Model.File">@_t[I18N.Csv_file]</label>
                                        <input type="file" class="dropify" asp-for="@Model.File" data-allowed-file-extensions="csv, xlsx" />
                                        <span asp-validation-for="@Model.File"></span>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-save mr-1"></i>@_t[I18N.Save]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dropify/init.js"></script>
}