﻿@model TranslationManagementFormModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = _t[I18N.Translations];
}

<section class="p-4">
    <div class="card">
        <div class="card-header">
            <h5>@_t[I18N.Translation_management] - @Model.CultureInfo.DisplayName</h5>
        </div>
        <form asp-action="UpdateTranslations" asp-controller="Localization" asp-route-culture="@Model.CultureInfo.Name" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="card-body">
                @foreach (var translation in Model.Translations)
                {
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text" style="width: 30% !important">@translation.Key</span>
                            <input type="text" name="@translation.Key" value="@translation.Value" class="form-control @(string.IsNullOrEmpty(translation.Value) ? "bg-danger" : "")" style="width: 70%!important" />
                        </div>
                    </div>
                }
                <div class="form-group w-100">
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <a asp-action="Index" asp-controller="Culture" class="btn btn-link">@_t[I18N.Cancel]</a>
                    <button class="btn btn-primary" type="submit">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</section>