﻿@model ExportFormModel
@{
    Layout = RecipesConstants.Layout;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}

<div class="p-4">
    <h5>@_t[I18N.New_export]</h5>
    <form asp-action="Export" asp-controller="Export" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="card mb-3">
            <div class="card-header">
                <h6>@_t[I18N.Data]</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Export_types]</label>
                            @Html.DropDownListFor(model =>model.ExportType ,
                            Model.GetExportType.Select(m => new SelectListItem { Value = m.ToString(), Text = ExportFormModel.GetEnumValueName(m) }), 
                            _t[I18N.__Select__], new { @class = "form-control" })
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Data_types]</label>
                            @Html.DropDownListFor(model =>model.ModelType ,
                            Model.GetExportModel.Select(m => new SelectListItem { Value = m.ToString(), Text = ExportFormModel.GetEnumValueName(m) }),
                            _t[I18N.__Select__], new { @class = "form-control" })
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group d-flex justify-content-between align-content-center">
                    <button class="btn btn-primary"><i class="fa fa-download mr-2"></i>@_t[I18N.Export]</button>
                </div>
            </div>
        </div>
    </form>
</div>