﻿@model (int total_pages, int current_page, int start, int end)

<nav>
    <ul class="pagination justify-content-end">
        @if (Model.current_page > 1 && Model.start > 1)
        {
            <li class="page-item">
                <a href="#" class="page-link index_page" data-page="1">1</a>
            </li>
        }
        @if (Model.start > 2)
        {
            <li class="page-item disabled">
                <a href="#" class="page-link index_page" data-page="">...</a>
            </li>
        }
        @for (int i = Model.start; i <= Model.end; i++)
        {
            <li class="page-item @(i == Model.current_page ? " active" : "" )">
                <a href="#" class="page-link index_page" data-page="@i">@i</a>
            </li>
        }
        @if (Model.end < Model.total_pages - 1)
        {
            <li class="page-item disabled">
                <a href="#" class="page-link index_page" data-page="">...</a>
            </li>
        }
        @if (Model.end < Model.total_pages)
        {
            <li class="page-item">
                <a href="#" class="page-link index_page" data-page="@Model.total_pages">@Model.total_pages</a>
            </li>
        }
    </ul>
</nav> 