﻿@model CountryFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="text">@_t[I18N.New] @_t[I18N.Country]</h5>
        </div>
        <form asp-action="Store" asp-controller="Country" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, _t[I18N.Name], new { @class = "text" })
                    <input class="form-control" asp-for="@Model.Name" required maxlength="255" oninvalid="this.setCustomValidity('@(_t[I18N.ValidationMessages.This_field_is_required])')" />
                    <span asp-validation-for="@Model.Name"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RegionID, _t[I18N.Region], new { @class = "text" })
                    @Html.DropDownListFor(model => model.RegionID, 
                        Model.Regions.Select(x => new SelectListItem { Value = x.ID.ToString(), Text = x.Name }),
                    _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid = $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')"  })
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>