﻿@model CountryViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.Country]} - {Model.Country.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="p-4">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <button class="btn btn-sm btn-primary edit mr-1" data-slug="@Model.Country.FriendlyUrl">@_t[I18N.Edit]</button>
            <button class="btn btn-sm btn-danger delete" data-slug="@Model.Country.FriendlyUrl"><i class="fa fa-trash"></i></button>
        </div>
        <div class="card-body">
            <h5>@_t[I18N.Information]</h5>
            <dl class="text mb-2">
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Country.Name</dd>
            </dl>
            <dl class="text">
                <dt>@_t[I18N.Region]</dt>
                <dd>
                    @if (!string.IsNullOrWhiteSpace(Model.Country.Region?.Name))
                    {
                        <a asp-action="Show" asp-controller="Region"
                           asp-route-friendly_url="@Model.Country.Region.FriendlyUrl">@Model.Country.Region.Name</a>
                    }
                    else
                    {
                        <span>---</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div class="modal fade" id="modal"></div>
</section>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
}