﻿@model CategoryFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.New] @_t[I18N.Category]</h5>
        </div>
        <form asp-action="Store" asp-controller="Category" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, _t[I18N.Name], new { @class = "text" })
                    <input asp-for="@Model.Name" class="form-control" required maxlength="255" oninvalid="this.setCustomValidity('@(_t[I18N.ValidationMessages.This_field_is_required])')" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BaseCategoryId, _t[I18N.Base_Category], new { @class = "text" })
                    @Html.DropDownListFor(model => model.BaseCategoryId,
                    Model.Categories.Select(cat => new SelectListItem{ Value = cat.ID.ToString(), Text = cat.Name }),
                    new { @class="form-control" })
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex align-content-between justify-content-between w-100">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-primary">@_t[I18N.Save]</button>
                </div>
            </div>
        </form>
    </div>
</div>