﻿@model CategoryViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = _t[I18N.Categories];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="p-4 mt-5">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="mb-2">@_t[I18N.Search]</h5>
            <form asp-action="Index" asp-controller="Category" method="get" id="search">
                <input type="hidden" name="count" id="count" value="@Model.Count" />
                <input type="hidden" name="page" id="page" value="@Model.CurrentPage" />
                <div class="row">
                    <div class="col-xs-12 col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="size" name="size" class="form-control">
                                    @foreach (var size in Model.PageSizeOptions)
                                    {
                                        if (size == Model.PageSize)
                                        {
                                            <option value="@size" selected>@size</option>
                                        }
                                        else
                                        {
                                            <option value="@size">@size</option>
                                        }
                                    }
                                </select>
                            </div>
                            <input id="name" class="form-control" type="text" name="n" value="" placeholder="@_t[I18N.Name]" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5>@_t[I18N.Categories]</h5>
                <button id="add_category" class="add btn btn-sm btn-primary" data-base=""><i class="fa fa-plus-circle mr-1"></i>@_t[I18N.New]</button>
            </div>
            <div id="table_div"></div>
        </div>
    </div>
    <div class="modal fade" id="modal" role="dialog"></div>
</section>
@section Scripts{
    <partial name="~/Views/Partials/_ScriptUtilities.cshtml" />
    <script src="~/js/ui-utilities/select2-setup.js"></script>
    <script src="~/js/ui-utilities/form-events.js"></script>
    <script src="~/js/category/index.js"></script>
    <script>
        document.getElementById('modal').addEventListener('show.bs.modal', async () => {
            await Select2Setup($('#BaseCategoryId'), `${location.origin}/categories`, 'categories',document.getElementById('modal'));
        })
    </script>
}