﻿@model CategoryViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.Category]} - {Model.Category.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="p-4">
    <div class="card">
        <div class="card-header d-flex justify-content-end">
            <button class="btn btn-sm btn-primary edit mr-1" data-slug="@Model.Category.FriendlyUrl">@_t[I18N.Edit]</button>
            <button class="btn btn-sm btn-danger delete" data-slug="@Model.Category.FriendlyUrl"><i class="fa fa-trash"></i></button>
        </div>
        <div class="card-body">
            <h5>@_t[I18N.Information]</h5>
            <dl class="text mb-2">
                <dt>@_t[I18N.Name]</dt>
                <dd>@Model.Category.Name</dd>
            </dl>
            <dl class="text">
                <dt>@_t[I18N.Base_Category]</dt>
                <dd>
                    @if (!string.IsNullOrWhiteSpace(Model.Category.BaseCategory?.Name))
                    {
                        <a asp-action="Show" asp-controller="Category"
                           asp-route-friendly_url="@Model.Category.BaseCategory.FriendlyUrl">@Model.Category.BaseCategory.Name</a>
                    }
                    else
                    {
                        <span>---</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
    @if (Model.Categories.Any())
    {
        <div id="sub-categories" class="card mt-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>@_t[I18N.Sub_Categories]</h5>
                <button class="add btn btn-sm btn-primary" data-base-slug="@Model.Category.FriendlyUrl">
                    <i class="fa fa-plus-circle mr-1"></i>@_t[I18N.New]
                </button>
            </div>
            <div class="card-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>@_t[I18N.Name]</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td colspan="2">
                                    <a asp-action="Show" asp-controller="Category" asp-route-friendly_url="@category.FriendlyUrl">@category.Name</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        @if (Model.TotalPages > 1)
                        {
                            <tr>
                                <td>
                                    <nav>
                                        <ul class="pagination">
                                            @for (int i = 1; i <= Model.Count; i++)
                                            {
                                                var data = new Dictionary<string, string>{
                                                    {"friendly_url",Model.Category.FriendlyUrl },
                                                    {"p",i.ToString() },
                                                    {"ps",Model.PageSize.ToString() }
                                                };
                                                <li class="page-item @(i==Model.CurrentPage ? "active":"")">
                                                    <a class="page-link" asp-action="Show" asp-controller="Category"
                                                       asp-all-route-data="@data">@i</a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                        }
                    </tfoot>
                </table>
            </div>
        </div>
    }
    <div class="modal fade" id="modal"></div>
</section>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
    <script src="~/js/ui-utilities/select2-setup.js"></script>
    <script src="~/js/ui-utilities/form-events.js"></script>
    <script>
        document.getElementById('modal').addEventListener('show.bs.modal', () => {
            Select2Setup($('#BaseCategoryId'), `${location.origin}/categories`, 'categories', document.getElementById('modal'));
        })
    </script>
}