﻿
.login-form {
    min-width: 300px;
    width: 30%;
    min-height: 250px;
    height: 60%;
    min-height: 20rem;
    border-radius: 2%;
    padding: 2rem;
    opacity: .9;
    box-shadow: 0px 0px 100px 0px var(--bs-primary);
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.form-box {
    border-bottom: 2px solid #adadad;
    margin: 1.5rem 0;
    position: relative;

    input {
        display: block;
        font-size: 14px;
        color: var(--text);
        border: none;
        width: 100%;
        outline: none;
        background: none;
        height: 30px;
    }

    span.form-label::before {
        content: attr(data-placeholder);
        position: absolute;
        top: 45%;
        transform: translate(0%, -45%);
        z-index: -1;
        transition: .5s;
    }

    span.form-label::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        transition: .5s;
    }
}

.focus + span.form-label::before {
    top: -12px;
}

.focus + span.form-label::before {
    font-size: 13px;
    width: 100%;
}
