﻿@import "utilities/util.scss";
@import "mixins/_mq.scss";
@import "mixins/_pseudos.scss";
@import "bs-overrides/_nav.scss";
@import "bs-overrides/_components.scss";
@import "bs-overrides/_forms.scss";

$end: 10;


.text-center-sm {
    @media (max-width: 992px) {
        text-align: center;
    }
}

.text-pink {
    color: var(--bs-pink);   
}

.required {
    @include pseudo($loc: after, $pos: absolute, $t: unset, $l: unset, $r: unset, $b: unset) {
        background-color: red;
        width: 5px;
        height: 5px;
        border-radius: 9999px;
    }
}

@for $i from 1 through $end {
    $min-w-value: #{$i * 50};

    .min-w-#{$min-w-value}p {
        min-width: #{$min-w-value}px;
    }

    $w-value: #{$i * 50};

    .w-#{$w-value}p {
        width: #{$w-value}px;
    }

    $max-w-value: #{$i * 50};

    .max-w-#{$max-w-value}p {
        max-width: #{$max-w-value}px;
    }

    $mr: #{$i};

    .mr-#{$i} {
        margin-right: calc(#{$i}rem / 4);
    }

    .ml-#{$i} {
        margin-left: calc(#{$i}rem / 4);
    }

    .mt-#{$i}-rem {
        margin-top: #{$i}rem;
    }
}