
.page {
    position: absolute;
    top: 10%;
    left: 17%;
    right: 17%;
    bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: var(--card-bg);
}

.page .content {
    max-width: 600px;
    text-align: center;
}

.content h1 {
    font-size: 3.5em;
    line-height: 1em;
}

.content h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    max-width: 600px;
    font-size: 1.7em;
}

.content p {
    font-size: 1.2em;
    color: var(--text);
}

.content a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all .3s ease;
    &:hover{
        background: var(--primary);
        color: var(--white);
    }
}
