﻿
@mixin mq-min($key) {
    $size: --breakpoint-#{$key};

    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin mq-max($key) {
    $size: --breakpoint-#{$key};

    @media only screen and (max-width: $size) {
        @content;
    }
}
