﻿
@mixin pseudo($loc: before,$content: '',$pos: absolute,$t: 0, $l: 0,$r: 0,$b: 0 ) {
    &::#{$loc} {
        content: $content;
        position: $pos;
        top: $t;
        left: $l;
        right: $r;
        bottom: $b;
        @content;
    }
}
