﻿@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@section Head{
    <link href="/css/unauthorized.css" rel="stylesheet" />
}
<div class="page">
    <div class="content">
        <h1>403 - Não Autorizado</h1>
        <h4>Não tem autorização para ver esta página</h4>
        <p>O acesso a esta página não se destina ao seu utilizador</p>
        <a asp-action="Index" asp-controller="Home">Ínicio</a>
    </div>
</div>