﻿@model AuthFormModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
        var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
@section Head{
    <link href="/css/login.css" rel="stylesheet" />
}
<div class="card login-form">
    <form asp-action="SignIn" asp-controller="Auth" class="card-body" method="post" id="loginForm">
        <h2 class="text-primary">Login</h2>
        <partial name="~/Views/Shared/_Noty.cshtml" />
        <input type="hidden" name="url" value="@ViewData["url"]" />
        <div class="form-box">
            <input type="text" asp-for="@Model.Username">
            <span class="form-label text" data-placeholder="Username"></span>
            <span class="text-danger" id="username_validation" asp-validation-for="@Model.Username"></span>
        </div>
        <div class="form-box">
            <input type="password" asp-for="@Model.Password">
            <span class="form-label text" data-placeholder="Password"></span>
            <span class="text-danger" id="password_validation" asp-validation-for="@Model.Password"></span>
        </div>
        <input type="submit" class="btn btn-primary btn-block" value="Login">
    </form>
    <div class="d-flex">
        <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            @_t[I18N.Themes]
        </button>
    </div>
</div>

@section Scripts{
    <script src="~/js/auth/login.js"></script>
    <script src="~/js/login/loginevents.js"></script>
}