﻿@model RecipeFormModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.New]} {_t[I18N.Recipe]}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-4">
    <span id="selected_ingredient_name" class="d-none"></span>
    <h5>@_t[I18N.New] @_t[I18N.Recipe]</h5>
    <form id="recipe_form" asp-action="Store" asp-controller="Recipe" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="card mb-3">
            <div class="card-header">
                <h6>@_t[I18N.Data]</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Name]</label>
                            <input class="form-control" asp-for="@Model.Name" required maxlength="255" oninvalid="this.setCustomValidity('@_t[I18N.ValidationMessages.This_field_is_required]')'" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Category]</label>
                            @Html.DropDownListFor(model => model.CategoryId,
                            Model.Categories.Select(c => new SelectListItem { Value = c.ID.ToString(), Text = c.Name, Selected = c.ID == Model.CountryId }),
                            _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                            <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Author]</label>
                            @Html.DropDownListFor(model => model.AuthorId,
                            Model.Authors.Select(c => new SelectListItem { Value = c.ID.ToString(), Text = c.Name, Selected = c.ID == Model.AuthorId }),
                            _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                            <span class="text-danger" asp-validation-for="@Model.AuthorId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Country]</label>
                            @Html.DropDownListFor(model => model.CountryId,
                            Model.Countries.Select(c => new SelectListItem { Value = c.ID.ToString(), Text = c.Name, Selected = c.ID == Model.CountryId }),
                            _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                            <span class="text-danger" asp-validation-for="@Model.CountryId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Source]</label>
                            @Html.DropDownListFor(model => model.SourceId,
                            Model.Sources.Select(c => new SelectListItem { Value = c.ID.ToString(), Text = c.Name, Selected = c.ID == Model.CountryId }),
                            _t[I18N.__Select__], new { @class = "form-control", required = true, min = 1, max = int.MaxValue, oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                            <span class="text-danger" asp-validation-for="@Model.SourceId"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Main_Image]</label>
                            <input type="file" class="dropify" asp-for="@Model.MainImage" data-allowed-file-extensions="pdf png" data-max-file-size-preview="5M" />
                            <span class="text-danger" asp-validation-for="@Model.MainImage"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Extra_Images]</label>
                            <input type="file" class="dropify" asp-for="@Model.MiscImages" data-allowed-file-extensions="pdf png" data-max-file-size-preview="5M" multiple />
                            <span class="text-danger" asp-validation-for="@Model.MiscImages"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text">@_t[I18N.Courses]</label>
                            @Html.DropDownListFor(model => model.CourseIds,
                            Model.Courses.Select(c => new SelectListItem { Value = c.ID.ToString(), Text = c.Name, Selected = c.ID == Model.CountryId }),
                            new { @class = "form-control", required = true, multiple=true, size= Model.Courses.Count(), oninvalid= $"this.setCustomValidity('{_t[I18N.ValidationMessages.This_field_is_required]}')" })
                            <span class="text-danger" asp-validation-for="@Model.CourseIds"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h6>@_t[I18N.Ingredients]</h6>
                    <button type="button" id="add_ingredient" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle mr-2"></i>@_t[I18N.Ingredient]</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ingredient_table_div"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <label class="text">@_t[I18N.Instructions]</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="tinymce" asp-for="@Model.Text">@Model.Text</textarea>
                            <span class="text-danger" asp-validation-for="@Model.Text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group d-flex justify-content-between align-content-center">
                    <a class="btn btn-link" asp-action="Index" asp-controller="Recipe"><i class="fa fa-arrow-left mr-2"></i>@_t[I18N.Cancel]</a>
                    <button class="btn btn-primary"><i class="fa fa-save mr-2"></i>@_t[I18N.Save]</button>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/js/ui-utilities/translations.js"></script>
    <script src="~/js/ui-utilities/select2-setup.js"></script>
    <script src="~/js/tinymce/init.js"></script>
    <script src="~/js/dropify/init.js"></script>
    <script src="~/js/recipe/recipe-ingredients.js"></script>
    <script src="~/js/recipe/form.js"></script>
}