﻿@model RecipeFormModel
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5>@_t[I18N.Delete] @_t[I18N.Recipe]</h5>
        </div>
        <div class="modal-body text">
            <dl class="mb-2">
                <dt class="mb-1">@_t[I18N.Name]</dt>
                <dd class="mb-2">@Model.Name</dd>
                @*<dt class="mb-1"></dt>
                <dd class="mb-2"><img src="" /></dd>*@
            </dl>
        </div>
        <div class="modal-footer">
            <form asp-action="Destroy" asp-controller="Recipe" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.FriendlyUrl)
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">@_t[I18N.Cancel]</button>
                    <button type="submit" class="btn btn-danger" form="deleteform">@_t[I18N.Delete]</button>
                </div>
            </form>
        </div>
    </div>
</div>
