﻿@model RecipeViewModel;
@using I18N = ModelsLibrary.Constants.AppConstants.I18N
@using ModelsLibrary.Models;
@{
    Layout = null;
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    int start = Model.CurrentPage >= 3 ? Model.CurrentPage - 2 : 1;
    int end = Model.TotalPages > Model.CurrentPage + 2 ? Model.CurrentPage + 2 : Model.TotalPages;
}

@if (Model.Recipes.Any())
{
    <table class="table table-hover table-responsive-lg">
        <thead>
            <tr>
                <th>@_t[I18N.Name]</th>
                <th class="text-center">@_t[I18N.Author]</th>
                <th class="text-center">@_t[I18N.Category]</th>
                <th class="text-center">@_t[I18N.Country]</th>
                <th class="text-center">@_t[I18N.Source]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Recipe recipe in Model.Recipes)
            {
                <tr>
                    <td><a class="text-color" href="/recipes/show/${recipe.friendlyUrl}">@recipe.Name</a></td>
                    <td class="text-center"><a href="/authors/show/@recipe.Author.FriendlyUrl">@recipe.Author.Name</a></td>
                    <td class="text-center"><a href="/categories/show/@recipe.Category.FriendlyUrl">@recipe.Category.Name</td>
                    <td class="text-center"><a href="/countries/show/@recipe.Country.FriendlyUrl">@recipe.Country.Name</td>
                    <td class="text-center"><a href="/sources/show/@recipe.Source.FriendlyUrl">@recipe.Source.Name</td>
                    <td class="d-flex min-w-150p justify-content-end">
                        <div class="ml-auto">
                            @if (!User.Claims.Any(c => c.Type == System.Security.Claims.ClaimTypes.Role && c.Value == ModelsLibrary.Constants.AppConstants.Roles.Admin))
                            {
                                <button data-recipe="@recipe.ID" data-favorite="@recipe.IsFavorite" class="btn btn-sm favorite-btn">
                                    <i class="fa fa-heart @(recipe.IsFavorite ? " text-pink" : "" )"></i>
                                </button>
                            }
                            <a href="/export/@recipe.FriendlyUrl" class="btn btn-sm btn-primary" target="_blank">Pdf<i class="ml-1 fa fa-download"></i></a>
                            <a href="/recipes/edit/@recipe.FriendlyUrl" class="btn btn-sm btn-primary edit" target="_blank">@_t[I18N. Edit]</a>
                            <button class="btn btn-sm btn-danger delete" data-slug="@recipe.FriendlyUrl"><i class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    @if (Model.TotalPages > 1)
                    {
                        await Component.InvokeAsync("Pagination", new { total_pages = Model.TotalPages, current_page = Model.CurrentPage });
                    }
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="d-flex justify-content-center align-content-center h-100">
        <p class="text">@_t[I18N.No_records_were_found]</p>
    </div>
}