﻿@model RecipeViewModel
@{
    var _t = (await CacheManagementService.TranslationsAsync())[Thread.CurrentThread.CurrentCulture.IetfLanguageTag];
    ViewData["Title"] = $"{_t[I18N.Recipe]} - {Model.Recipe.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>@_t[I18N.Recipe]</h5>
                    <div>
                        <a class="btn btn-sm btn-primary mr-1" asp-action="ExportRecipe" asp-controller="Export" asp-route-slug="@Model.Recipe.FriendlyUrl" target="_blank">Pdf<i class="ml-1 fa fa-download"></i></a>
                        <a class="btn btn-sm btn-primary mr-1" asp-action="Edit" asp-controller="Recipe" asp-route-friendly_url="@Model.Recipe.FriendlyUrl">@_t[I18N.Edit]</a>
                        <button class="btn btn-sm btn-danger delete" data-slug="@Model.Recipe.FriendlyUrl"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 mb-2">
                        <div class="max-w-500p">
                            <img class="img-fluid" src="/img/recipe/@Model.Recipe.MainImage.Image" alt="recipe image" />
                        </div>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <div class="row">
                            <div class="col-sm-8 mb-2">
                                @if (Model.Recipe.MiscImages.Count != 0)
                                {
                                    <div id="misc-carousel" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            @for (int i = 0; i < Model.Recipe.MiscImages.Count; i++)
                                            {
                                                <div class="carousel-item @(i == 0 ? "active":"")">
                                                    <img src="/img/recipe/@Model.Recipe.MiscImages[i].Image" alt="recipe misc image" class="d-block w-100" />
                                                </div>
                                            }
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                }
                            </div>  
                        </div>     
                        <dl class="mb-2 text">
                            <dt class="mb-1">@_t[I18N.Name]</dt>
                            <dd class="mb-2">@Model.Recipe.Name</dd>
                            <dt class="mb-1">@_t[I18N.Country]</dt>
                            <dd class="mb-2">@Model.Recipe.Country.Name</dd>
                            <dt class="mb-1">@_t[I18N.Courses]</dt>
                            <dd class="mb-2">@(Model.Recipe.Courses.Count != 0 ? string.Join(", ",Model.Recipe.Courses.Select(course => course.Name)) : "---")</dd>
                        </dl> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xs-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5>@_t[I18N.Ingredients]</h5>
            </div>
            <div class="card-body">
                <div>
                    @if (Model.Recipe.Ingredients.Count != 0)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@_t[I18N.Ingredient]</th>
                                    <th class="text-center">@_t[I18N.Quantity]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ingredient in Model.Recipe.Ingredients)
                                {
                                    <tr>
                                        <td><a asp-action="Show" asp-controller="Ingredient" asp-route-friendly_url="@ingredient.Ingredient.FriendlyUrl">@ingredient.Ingredient.Name</a></td>
                                        <td class="text-center">@ingredient.Quantity&nbsp;@ingredient.Unit</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <partial name="~/Views/Partials/_Empty.cshtml" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5>@_t[I18N.Instructions]</h5>
            </div>
            <div class="card-body">
                <section class="text">
                    @Html.Raw(Model.Recipe.Text)
                </section>
            </div>
        </div>
    </div>
    <div id="modal" class="modal fade"></div>
</div>
@section Scripts{
    <script src="~/js/ui-utilities/modal.js"></script>
    <script>$('.carousel').carousel()</script>
}